
	
	.blocGauche
	{

		color:white;
		background-image: -moz-linear-gradient(top, rgba(59,59,59,0.9), rgba(38,38,38,0.9));
		background-image: -webkit-linear-gradient(top, rgba(59,59,59,0.9), rgba(38,38,38,0.9));
		background-image: -o-linear-gradient(top, rgba(59,59,59,0.9), rgba(38,38,38,0.9));
		background-image: -ms-linear-gradient(top, rgba(59,59,59,0.9), rgba(38,38,38,0.9));
		background-image: linear-gradient(top, rgba(59,59,59,0.9), rgba(38,38,38,0.9));
		border-radius: 10px;
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 0px 2px rgba(255,255,255,0.075), inset 0px 2px 1px 0px rgba(255,255,255,0.2);

	}
	.text
	{
		display: block;
		font-weight: 700;
		letter-spacing: 0.065em;
		font-size: 1.1em;
		color: black;
		font-family: Times New Roman;
	
	}
			
